*{
  font-family: "Questrial", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: rgba(23, 23, 23, 0.7);
    border-radius: 30px;
    width: 450px;
    padding: 20px;
    text-align: center;
  }
  
  .logo img {
    height: 100px;
  }
  
  .title {
    margin: 20px 0;
    font-size: 22px;
    color: #fff;
  }
  
  input {
    display: block;
    width: 80%;
    height: 30px;
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 30px;
    background-color: #171717;
    color: #fff;
  }
  
  input:focus {
    outline: none;
    background-color: #333;
    font-weight: bold;
  }

.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-container input{
  width: 60%;
  margin: 0 10px;
}

.otp-btn {
  background-color: #171717;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.otp-btn:hover {
  background-color: #000;
}

.otp-btn.sent {
  background-color: #2ecc71;
  color: #fff;
  pointer-events: none;
}

.btn {
  background-color: #171717;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 150px;
    padding: 10px 20px;
    border: none;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .otp-btn:hover {
    background-color: #000;
  }
  
  .otp-btn.sent {
    background-color: #2ecc71;
    color: #fff;
    pointer-events: none;
  }
  
  .btn {
    background-color: #171717;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 150px;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .btn:hover {
    background-color: black;
  }
  