*{
    font-family: "Questrial", sans-serif;
}
body {
    margin: 0;
    background-color: #000;
    color: #fff;
  }
  
  /* Header Styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    position: sticky;
    top: 0;
  }
  
  .header h1 {
    font-size: 40px;
    margin: 0;
  }
  
  .back-button {
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .user-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* Card Container */
  .container {
    max-width: 1200px;
    margin: 25px auto;
    padding: 20px;
    text-align: center;
  }
  


  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .card {
    background-color: #1c1c1e;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 6px rgba(4, 231, 243, 0.83)
  }
  .card img {
    max-width: 204px;
    max-height: 204px;
  }
  
  .card h3 {
    margin: 10px 0;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card p {
    font-size: 0.9em;
    color: #ccc;
  }
  
  /* Media Query for smaller screens */
  @media (max-width: 768px) {
    .card-container {
      grid-template-columns: 1fr;
    }
  
    .header h1 {
      font-size: 1.4em;
    }
  
    .card img {
      max-width: 60px;
    }
  
    .card p {
      font-size: 0.8em;
    }
    .user-icon img {
      width: 30px;
      height: 30px;
    }
  }
  